{# {% for item in items %}
<h{{ level|default(2) }} class="{% if modifier %}{{ modifier }}{% endif %} {{- attributes ? ' ' ~ attributes.class -}}">
    <span>{{ item.text }}</span>
</h{{ level|default(2) }}>
{% endfor %} #}